.tile{
    display: grid;
    place-content: center;
    height: 100px;
    width: 100px;
}

.white-tile{
    background-color: #fafcf8;
}

.green-tile{
    background-color: #7ab93c;
}

.tile img{
    width: 80px;
}